.App {
  text-align: center;
}

html,
body,
#app,
#app>div {
  height: 100%;
}

div#app {
  height: 100%;
}

.ui.text.container {
  -webkit-font-smoothing: antialiased;
}

.home-layout {
  background: #f5f5f5;
  background-size: cover;
  height: 100%;
}

.resources-layout {
  background: #f5f5f5;
  height: 100%;
}

.dashboard-layout {
  background: #f5f5f5;
  height: 100%;
}

.tasks-layout {
  background: #f5f5f5;
  background-size: cover;
  background-position-y: -60px;
  height: 100%;
}

.sidebar {
  background: linear-gradient(rgb(255, 153, 102), rgb(255, 94, 98));
  width: 25%;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

.main-content {
  margin-left: 25%;
  width: 100%;
}

.sidebar-content {
  display: flex;
  height: 100%;
  flex-flow: column;
  padding: 25% 5%;
  align-items: center;
  justify-content: space-between;
}

.sidebar-user-info {
  display: flex;
  flex-flow: row;
  width: 75%;
  justify-content: space-evenly;
  align-items: center;
}

.sidebar-user-name {
  font-size: 1.4rem;
  line-height: 2rem;
  color: #f5f5f5;
  letter-spacing: 2px;
}

.sidebar-nav-links {
  width: 60%;
}

ul.sidebar-links {
  list-style: none;
  padding: 0;
  list-style-type: none;
}

li.sidebar-link:hover {
  transform: translateX(10px);
  transition: 0.5s;
}

li.sidebar-link {
  transition: 0.5s;
}

li.sidebar-link a {
  color: #f5f5f5;
  font-size: 1.2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

li.sidebar-link:hover>* {
  color: #21212194 !important;
  transition: 0.3s;
}

.sidebar-footer {
  width: 60%;
}

a.sidebar-link {
  color: #f5f5f5;
  font-size: 1.1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

a.sidebar-link:hover {
  color: #21212194 !important;
  transition: 0.3s;
}

.sidebar-user-role {
  color: #545454;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.ui.labeled.icon.menu .item {
  min-width: 0em;
  padding: 15px 0px;
}

.main-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

a.ui.image.sidebar-logo {
  transition: transform 0.5s;
}

a.ui.image.sidebar-logo:hover {
  transition: transform 0.5s;
  transform: scale(0.85);
}

i.link.icon.sidebar-item {
  transition: transform 0.5s;
  /* color: #212121; */
  padding: 30px 0;
  /* color: #616161; */
  color: #fff;
  font-size: 1.3rem;
}

/* a {
  color: #212121;
  text-decoration: none;
}

a:hover {
  color: #212121;
  text-decoration: none;
} */

/* .menu-nav {
  float: right;
  position: relative;
  right: 70px;
} */

/* .menu-nav-item {
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 1.15rem;
  position: relative;
  padding: 10px 0;
} */

/* .menu-nav-item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #212121;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s;
} */

/* .menu-nav-item:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background-color: #212121;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s;
} */

/* .menu-nav-item:hover:before {
  transform: scaleX(1);
}

.menu-nav-item:hover:after {
  transform: scaleX(1);
} */

/* Animations */

.fade-appear,
.fade-enter {
  opacity: 0;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.fade-appear-active,
.fade-enter-active {
  transition: opacity .3s linear;
  opacity: 1;
}

.fade-exit {
  transition: opacity .2s linear;
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper>div {
  position: absolute;
}

.main-container {
  text-align: inherit;
}

.dashboard-title {
  /* margin-top: 50px; */
  padding: 40px;
}

.projects-subtitle {
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 30px;
}

.projects-title {
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #212121b3;
}

.dashboard-card {
  background: #fff;
  padding: 10px;
  width: 30%;
  height: 350px;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 2px 4px 15px -4px #21212185;
}

.card-content {
  height: 100%;
}

hr.card-divider {
  width: 80%;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  border-color: #d7d7d747;
  border-bottom: 0;
  border-radius: 5px;
}

.card-heading {
  padding: 10px;
}

.card-title {
  font-size: 1.5rem;
  color: #212121d9;
  letter-spacing: 1px;
  line-height: 35px;
}

.card-subtitle {
  color: #545454;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.card-main {
  padding: 10px;
  height: 70%;
}

.csm-info {
  display: flex;
  justify-content: space-between;
}

.date-info {
  display: flex;
  justify-content: space-between;
}

.card-stats {
  margin-top: 15px;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  height: 80%;
}

.progress-bar {
  width: 65%;
  height: 25px;
  /* border: solid 1px #2121213b; */
  border-radius: 2px;
}

.progress-sis {
  height: 100%;
  background: linear-gradient(to right, rgb(243, 124, 103), rgb(193, 30, 14));
  border-radius: 0 8px 8px 0;
  text-align: center;
  color: #ffffff;
  font-size: 0.9rem;
  padding: 2px;
}

.progress-branding {
  height: 100%;
  background: linear-gradient(to left, rgb(128, 0, 128), rgb(255, 173, 187));
  border-radius: 0 8px 8px 0;
  text-align: center;
  color: #ffffff;
  font-size: 0.9rem;
  padding: 2px;
}

.progress-auth {
  height: 100%;
  background: linear-gradient(to right, rgb(54, 209, 220), rgb(91, 134, 229));
  border-radius: 0 8px 8px 0;
  text-align: center;
  color: #ffffff;
  font-size: 0.9rem;
  padding: 2px;
}

.progress-migration {
  height: 100%;
  background: linear-gradient(to left, rgb(17, 153, 142), rgb(56, 239, 125));
  border-radius: 0 8px 8px 0;
  text-align: center;
  color: #ffffff;
  font-size: 0.9rem;
  padding: 2px;
}

.progress-other {
  height: 100%;
  background: linear-gradient(to right, rgb(255, 226, 89), rgb(255, 167, 81));
  border-radius: 0 8px 8px 0;
  text-align: center;
  color: #ffffff;
  font-size: 0.9rem;
  padding: 2px;
}

.card-sis {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.card-branding {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.card-auth {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.card-migration {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.card-other {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

span.card-task-title {
  letter-spacing: 1px;
}

.csm-info span {
  font-weight: 600;
  letter-spacing: 1px;
}

.date-info span {
  font-weight: 600;
  letter-spacing: 1px;
}

/* Responsive Branding */

/* Mobile */

@media only screen and (max-width: 767px) and (min-width: 320px) {
  .hide-on-mobile {
    display: none !important;
  }
  .main-container {
    text-align: -webkit-center;
    text-align: -moz-center;
  }
  .dashboard-card {
    width: 90%;
  }
  .sidebar-link-text {
    display: none;
  }
  .sidebar-user-info {
    flex-flow: row wrap;
  }
  i.link.icon.sidebar-item {
    font-size: 2rem;
  }
  .sidebar-nav-links {
    text-align: center;
  }
  .sidebar-footer {
    text-align: center;
  }
  .sidebar-user-role {
    color: #545454;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .sidebar-user-details {
    display: none;
  }
}

/* Tablet */

@media only screen and (min-width: 768px) and (max-width: 1100px) {
  .sidebar-link-text {
    display: none;
  }
  .sidebar-user-info {
    flex-flow: row wrap;
  }
  i.link.icon.sidebar-item {
    font-size: 2rem;
  }
  .sidebar-nav-links {
    text-align: center;
  }
  .sidebar-footer {
    text-align: center;
  }
  .sidebar-user-role {
    color: #545454;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .sidebar-user-details {
    display: none;
  }
  .dashboard-card {
    width: 45%;
  }
}

@media only screen and (min-width: 767px) {
  .hide-on-med-and-up {
    display: none !important;
  }
}

@media only screen and (min-width: 1700px) {
  .home-layout {
    /* background: url(../img/bg-wol.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -160px; */
    height: 100%;
  }
}