[data-reactrot] {
  position: absolute; width: 100% !important; height: 100% !important;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.ui.segment.pushable {
  height: 100vh;
}